 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Teknologier</h2>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-grafana-original colored"></i>
      <i class="devicon-redis-plain colored"></i>
      <p>Lærer nå: Kubernetes</p>
    </div>
    <div class="tech">
      <h2>Språk</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-c-plain colored"></i>

      <p>Lærer nå: Rust, TypeScript</p>
    </div>
    <div class="tech">
      <h2>Plattformer</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-azure-plain colored"></i>
      <i class="devicon-apple-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <i class="devicon-windows8-plain colored"></i>
      <p>Lærer nå: Terraform</p>
    </div>
</div>
