<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <a href="https://asciinema.org/a/aH4i0mWxu31BnhXRoX1ZMWESJ" target="_blank"><img src="https://asciinema.org/a/aH4i0mWxu31BnhXRoX1ZMWESJ.svg" /></a>
  </div>
  <div class="contents">
    <h3> RSA and AES demonstrasjon </h3>
    <p>Implementerte RSA og AES fra scratch i Python. Demoen kjøres i 2 containere Alice og Bob og den startes med en kommando "docker-compose up". Jeg lærte mye om den interessante matten bak RSA og AES. </p>
    <a class="project-link" href="#">Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
