<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <script id="asciicast-aH4i0mWxu31BnhXRoX1ZMWESJ" src="https://asciinema.org/a/aH4i0mWxu31BnhXRoX1ZMWESJ.js" async></script>
  </div>
  <div class="contents">
    <h3> RSA and AES demonstrasjon </h3>
    <p>Implementerte RSA og AES fra scratch i Python. Demoen kjøres i 2 containere Alice og Bob og den startes med en kommando "docker-compose up". Jeg lærte mye om den interessante matten bak RSA og AES. </p>
    <a class="project-link" href="https://github.com/Marius-Raes/CryptoDemo">Github Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ntnu-logo-gray.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bachelor Prosjekt </h3>
    <p>Som bachelor oppgave Implementerte jeg en plattform for sikker databehandling sammen med 3 gode venner og partnere. Platformen er hostet i Openstack miljøet til NTNU, den setter automatisk opp sikre IT miljøer for behandling av sesnitiv data basert på API kall. Jeg er veldig stolt av produktet gruppen vår leverte og jeg lærte mye mye om IaC og jobbing med store prosjekter som gruppe.</p>
    <a class="project-link" href="https://ntnuopen.ntnu.no/ntnu-xmlui/bitstream/handle/11250/3003594/no.ntnu%3ainspera%3a106261571%3a112575859.pdf?sequence=1&isAllowed=y">Last Ned Oppgaven</a>
  </div>
</div>
